<!-- templates/category_detail.html -->
{% extends "base.html" %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
<h2 class="text-2xl mb-4">{{ category.name }}</h2>
<img src="{{ category.image.url }}" alt="{{ category.name }}" class="w-full h-64 object-cover rounded mb-4">
<h3 class="text-xl mb-4">מוצרים</h3>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {% for product in products %}
    <div class="bg-white rounded shadow p-4">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-48 object-cover rounded mb-4">
        <h4 class="text-xl primary-color">{{ product.name }}</h4>
        <p>{{ product.description }}</p>
    </div>
    {% endfor %}
</div>
<a href="{% url 'index' %}" class="inline-block mt-4 text-primary hover:underline">בחזרה לקטגוריות</a>
{% endblock %}
